html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left top, #4D467A, #DEDAFB);
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: #4D467A;
}
.container {
    background-color: #DEDAFB;
    border-radius: 50px;
    box-shadow: 20px 16px 50px ;
}
#nueva-cita legend, #administra {
  font-size: 1.5rem;
  text-align: center;
}

header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1; 
  
  box-shadow: 5px 5px 15px ;
  padding: 2rem;
  padding-bottom: 3rem;
  
}
.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin:0;
}
.lista-citas .cita button {
  margin-top: 1rem!important;
}
.lista-citas .cita span {
  font-weight: bold;
}
textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}

.form-group button {
  background-color: #4D467A;
  color: #fff;
}

.form-group button:hover {
  box-shadow: 20px 16px 50px ;
}